<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
           <img src="Images\gros-plan-viande-rotie-sauce-legumes-frites-dans-assiette-table_181624-35847.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Viande rôtie avec sauce, légumes et frites dans une assiette sur la table</h4>
        <p class="card-text"> 
        <i class="fa-solid fa-stopwatch"> 30 min </i> <br>
        <i class="fa-solid fa-utensils"> Viande </i> 
        </p>
      </div>  
      <div class="card-footer">
        <a href="#" class="btn btn-outline-primary">CONSULTER</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="Images\vue-laterale-sandwich-pain-blanc-viande-grillee-escalope-fromage-laitue-frites-mayo-ketchup-planchejpg_141793-5081.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Sandwich pain blanc avec de la viande grillée escalope fromage laitue frites mayo et ketchup</h4>
        <p class="card-text"> 
        <i class="fa-solid fa-stopwatch"> 15 min </i> <br>
        <i class="fa-solid fa-utensils"> Fast-Food </i> 
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-outline-primary">CONSULTER</a>
      </div>
    </div> 
  </div>
  <div class="col">
    <div class="card h-100">
        <img src="Images\salade-fruits-renversee-sol-etait-gachis-couleurs-textures-vibrantes-generative-ai_8829-2895.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">La salade de fruits renversée sur le sol</h4>
        <p class="card-text"> 
        <i class="fa-solid fa-stopwatch"> 10 min </i> <br>
        <i class="fa-solid fa-utensils"> Fruits </i> 
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-outline-primary">CONSULTER</a>
      </div>
    </div>  
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="Images\creme-glacee-au-chocolat-vanille-fraise-isolee-blanc_807701-3455.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Crème glacée au chocolat, à la vanille et à la fraise</h4>
        <p class="card-text"> 
        <i class="fa-solid fa-stopwatch"> 20 min </i> <br>
        <i class="fa-solid fa-utensils"> SUcrerie </i> 
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-outline-primary">CONSULTER</a>
      </div>
   </div> 
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="Images\pizza-mozzarella-fondue_168058-1227.avif" class="card-img-top" alt="...">
     <div class="card-body">
       <h4 class="card-title">Pizza à la mozzarella fondue.</h4>
       <p class="card-text"> 
       <i class="fa-solid fa-stopwatch"> 45 min </i> <br>
       <i class="fa-solid fa-utensils"> Pizza </i> 
       </p>
     </div>
     <div class="card-footer">
       <a href="#" class="btn btn-outline-primary">CONSULTER</a>
     </div>
   </div> 
 </div>
 <div class="col">
   <div class="card h-100">
     <img src="Images\mise-plat-assortiment-fruits-legumes_23-2148487765.avif" class="card-img-top" alt="...">
     <div class="card-body">
        <h4 class="card-title">FRUIT ET LEGUMES.</h4>
        <p class="card-text"> 
        <i class="fa-solid fa-stopwatch"> 10 min </i> <br>
        <i class="fa-solid fa-utensils"> Bien-etre </i> 
        </p>
     </div>
     <div class="card-footer">
       <a href="#" class="btn btn-outline-primary">CONSULTER</a>
     </div>
   </div>
 </div>  
</div> 